/* Octocat */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Select Your Country */
.select-your-country {
  max-width: 768px;
  margin: 0 auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;

    input {
      border: 1px solid transparent;
      width: 256px;
      border-radius: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      line-height: 1;
      appearance: none;

      &:focus {
        border-color: black;
        outline: none;
      }
    }
  }

  .country-list-item {
    color: #333;
    font-size: 1em;
    font-weight: 800;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: background-color 0.15s ease;
    border-bottom: 1px dashed black;
    cursor: pointer;

    &:hover {
      background-color: #bbdbba;
    }

    &.disabled {
      color: #222;
      background-color: unset;
      cursor: default;
    }

    &.selected {
      background-color: #bbdbba;
      cursor: auto;

      small {
        display: block;
        margin-bottom: 8px;
      }

      a {
        display: inline-block;
        margin-top: 8px;
      }
    }
  }

  .no-content-message {
    margin-top: 0.5rem;
    font-weight: 600;
  }
}

@media (max-width: 599px) {
  .select-your-country {
    .header {
      display: block;
      padding-bottom: 20px;
    }
  }
}

.showing-links-for-country {
  padding-top: 40px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: baseline;

  h3 {
    margin-bottom: 0;
    margin-right: 10px;
  }

  span {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.header-padding {
  margin-top: 4rem;
}

.card-grid {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1980px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
