@import url("https://fonts.googleapis.com/css?family=Spectral+SC&display=swap");

@font-face {
  font-family: "Muli";
  font-weight: normal;
  src: url("fonts/Muli/Muli-ExtraLight.ttf");
}

@font-face {
  font-family: "Muli";
  font-weight: 700;
  src: url("fonts/Muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "Muli";
  font-weight: 900;
  src: url("fonts/Muli/Muli-Bold.ttf");
}

body {
  font-family: "Muli", sans-serif;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  font-size: 18px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 3em;

    &,
    + p {
      text-align: center;
    }

    + p {
      text-align: left;
      font-size: 1em;
    }
  }

  h2 {
    padding-top: 20px;

    + p {
      font-size: 1.2em;
      border-left: 3px solid white;
      padding-left: 20px;
    }
  }

  p,
  ul {
    margin: 20px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    font-size: 1em;
    font-weight: 800;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed black;
  }
}

.padding {
  padding: 30px;
}

.link-wrapper {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  transform: scaleX(1) scaleY(1);

  .link {
    margin: 30px;
    padding: 30px;
    text-align: left;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    border-radius: 5px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s, box-shadow 0.15s;
    flex: 1 0 31%;
    
    &:hover {
      strong > a:after {
        width: 100%;
      }
    }

    strong > a:after {
      display: block;
      content: " ";
      margin-top: 4px;
      width: 0;
      background-color: rgba(0, 0, 0, 1);
      height: 1px;
      transition: width 0.15s;
    }

    a.title {
      display: inline-block;
      text-align: center;
      width: calc(100% - 30px);
      border: none;
    }
  }
}

/* Slider */

.cta {
  &-info-wrapper {
    position: absolute;
    bottom: 20%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    max-width: 100%;

    @media screen and (min-width: 640px) {
      padding: 2rem;
      max-width: 50%;
    }

    h3 {
      color: white;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin: 0;
      text-align: left;

      @media screen and (min-width: 640px) {
        font-size: 1.5rem;
      }
    }
  }
}

.carousel {
  max-height: 300px;
  overflow: hidden;

  @media screen and (min-width: 640px) {
    max-height: 500px;
  }
  .dot {
    padding: 10px;
    flex: inherit;
  }
  .control-dots {
    display: none;

    @media screen and (min-width: 640px) {
      display: block;
      justify-content: center;
    }
  }

  .slider {
    
    flex-wrap: nowrap;
    justify-content: space-between;

    .slide {
      border-radius: 0;
      max-width: 100%;
      padding: 0;

      a {
        border: none;
        display: inline-block;
        max-height: 500px;
        position: relative;
        text-align: center;
        width: calc(100% - 30px);
      }
    }
  }
}

/* Categories */

.categories {
  padding: 0 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  .category {

    margin: 35px 0;
    height: 200px;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    
    a {
      border: none;
      display: flex;
      align-items: flex-end;
      height: 100%;    
      width: 100%;
      
      h2 {
        align-self: flex-end;
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        color: white;
        line-height: 1.7em;
        margin: 0;
        opacity:1;
        padding-top: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
}
